
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">


<!-- homepage content -->
<article class="clearfix">
    <h2>The Value of Money</h2>
    <figure class="art-1-fig">
        <img src="../img/art1.jpg" alt="money growth" />
        <figcaption>Value of Money</figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus rutrum dui a vestibulum. Vivamus sollicitudin sollicitudin condimentum. In malesuada, justo in cursus sodales, urna velit porta ligula, in laoreet sem neque rutrum quam. Vestibulum ultricies posuere odio et euismod. Nulla porttitor eros libero, ut malesuada tortor ullamcorper et. Duis at euismod leo. Vivamus iaculis rhoncus erat quis aliquam. Praesent orci enim, posuere vestibulum pulvinar at, placerat ac purus.</p>
    <p>Donec porta luctus orci, sed vestibulum est condimentum at. Donec eu efficitur magna. Quisque tempus faucibus dolor a auctor. Quisque nec sem erat. Ut ipsum neque, pellentesque in feugiat sed, efficitur ac mi. Vestibulum venenatis, lorem et imperdiet viverra, quam risus ullamcorper eros, sed sollicitudin magna sapien ut arcu. Integer sit amet viverra urna, nec fringilla nunc. Pellentesque at vulputate lorem. Vestibulum ac nunc magna. Etiam eu libero dapibus, lacinia arcu hendrerit, aliquam mi.</p>
</article>

<article class="clearfix">
    <h2>GMO Food</h2>
    <figure class="art-1-fig">
        <img src="../img/art2.jpg" alt="stop gmo" />
        <figcaption>GMO Food</figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et orci lorem. In sit amet velit commodo, iaculis lectus nec, lacinia elit. Vestibulum varius mollis diam, eu dictum lectus euismod vitae. Quisque in leo erat. Fusce porta facilisis ligula ac ultrices. Fusce vel arcu ex. Aliquam erat volutpat. Nullam sagittis neque lacus, vel scelerisque augue sodales nec.</p>
    <p>Etiam quis viverra ex, sit amet mattis lacus. Etiam eget lorem velit. Sed ac fermentum velit. Mauris id feugiat elit. Fusce malesuada eros sit amet nulla fringilla, ut fringilla nibh aliquet. Fusce a leo dignissim, vulputate leo vel, tincidunt diam. Mauris dictum diam vel vestibulum semper. Praesent dignissim pellentesque tempor.</p>
    <p>Donec porta luctus orci, sed vestibulum est condimentum at. Donec eu efficitur magna. Quisque tempus faucibus dolor a auctor. Quisque nec sem erat. Ut ipsum neque, pellentesque in feugiat sed, efficitur ac mi. Vestibulum venenatis, lorem et imperdiet viverra, quam risus ullamcorper eros, sed sollicitudin magna sapien ut arcu. Integer sit amet viverra urna, nec fringilla nunc. Pellentesque at vulputate lorem. Vestibulum ac nunc magna. Etiam eu libero dapibus, lacinia arcu hendrerit, aliquam mi.</p>
</article>

<article class="clearfix">
    <h2>The View of World in 2100</h2>
    <figure class="art-1-fig">
        <img src="../img/art3.jpg" alt="world view" />
        <figcaption>World View 2100</figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et orci lorem. In sit amet velit commodo, iaculis lectus nec, lacinia elit. Vestibulum varius mollis diam, eu dictum lectus euismod vitae. Quisque in leo erat. Fusce porta facilisis ligula ac ultrices. Fusce vel arcu ex. Aliquam erat volutpat. Nullam sagittis neque lacus, vel scelerisque augue sodales nec.</p>
    <p>Etiam quis viverra ex, sit amet mattis lacus. Etiam eget lorem velit. Sed ac fermentum velit. Mauris id feugiat elit. Fusce malesuada eros sit amet nulla fringilla, ut fringilla nibh aliquet. Fusce a leo dignissim, vulputate leo vel, tincidunt diam. Mauris dictum diam vel vestibulum semper. Praesent dignissim pellentesque tempor.</p>
    <p>Donec porta luctus orci, sed vestibulum est condimentum at. Donec eu efficitur magna. Quisque tempus faucibus dolor a auctor. Quisque nec sem erat. Ut ipsum neque, pellentesque in feugiat sed, efficitur ac mi. Vestibulum venenatis, lorem et imperdiet viverra, quam risus ullamcorper eros, sed sollicitudin magna sapien ut arcu. Integer sit amet viverra urna, nec fringilla nunc. Pellentesque at vulputate lorem. Vestibulum ac nunc magna. Etiam eu libero dapibus, lacinia arcu hendrerit, aliquam mi.</p>
</article>