
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">


<!-- page content -->
<h2>Portfolio</h2>
<ul class="gallery">
    <li>
        <figure>
            <img src="http://lorempixel.com/400/400/abstract" alt="sample image" />
            <figcaption>Portfolio Piece 1</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="http://lorempixel.com/400/400/city" alt="sample image" />
            <figcaption>Portfolio Piece 2</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="http://lorempixel.com/400/400/people" alt="sample image" />
            <figcaption>Portfolio Piece 3</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="http://lorempixel.com/400/400/nature" alt="sampleimage" />
            <figcaption>Portfolio Piece 4</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="http://lorempixel.com/400/400/technics" alt="sample image"/>
            <figcaption>Portfolio Piece 5</figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="http://lorempixel.com/400/400/business" alt="sample image" />
            <figcaption>Portfolio Piece 6</figcaption>
        </figure>
    </li>
</ul>